<header class="header">
  <div class="inner">
    <div class="nav">
      <% if user_signed_in? %>
        <div class="header_greeting">
          <%= "こんにちは、" %>
          <%= link_to "#{current_user.last_name}さん", "#", class: :user_last_name %>
        </div>
          <h2><%= link_to "回覧板", informations_path, class: :header_title %></h2>
        <div class="nav__right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
        </div>
      <% else %>
        <h2><%= link_to "回覧板", informations_path, class: :header_title %></h2>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
        </div>
      <% end %>
    </div>
  </div>
</header>