<%= render "devise/shared/second_header" %>

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ログイン</h2>

      <%= form_with class: 'registration-main', model: @user, url: user_session_path, local: true do |f| %>
        <%= render partial: 'devise/shared/error_messages', model: f.object %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: 'form__btn' %>
        </div>
      <% end %>
      <%= link_to :back do %>
        <button>戻る</button>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/footer" %>

